<footer class="footer-distributed">
    <div class="footer">
        <p class="footer-links">
            <a data_test_automation_id="footer_home_link" href="/index">Home</a>
            <a data_test_automation_id="footer_about_link" href="/about">About</a>
            <a data_test_automation_id="footer_lesson_link" href="/lessons">Lessons</a>
            <a data_test_automation_id="footer_faq_link" href="/faq">FAQ</a>
            <a data_test_automation_id="footer_contact_link" href="/contact">Contact</a>
        <div class="grid">
            <div class="version" data_test_automation_id="app_version" <p>
                <%= version %>
            </div>
        </div>
        </p>
    </div>
</footer>