<div class="column-2" data_test_automation_id="global_player_settings">
    (R) = Refresh required to unset<br><br>
    <form data_test_automation_id="variant_logging">
        <a id="initial_text" style="display:block"> Log variant changes in console (R)</a>
        <a id="text" style="display:none">Logging variant changes</a>
        <input type="checkbox" id="log_variants" onclick='         
    function myFunction() {
    // Get the checkbox
    var checkBox = document.getElementById("log_variants");
    // Get the output text
    var text = document.getElementById("text");
    var initialText = document.getElementById("initial_text");

    // If the checkbox is checked, display the output text
    if (checkBox.checked == true) {
        text.style.display = "block";
        initialText.style.display = "none";
        player.addEventListener("adaptation", onAdaptationChange);
        player.addEventListener("variantchanged", onAdaptationChange);
    } 
    }
    function onAdaptationChange(event) {
    var tracks = player.getVariantTracks();
    for (i = 0; i < tracks.length; i++) {
        if (tracks[i].active) {
        console.log("Bandwidth: " + tracks[i].bandwidth);
        console.log("Variant ID: " + tracks[i].id);
        break;
        }
    }
    }
    myFunction();'>
    </form>
</div>