<div class="grid">

  <nav class="navigation">
    <ul class="navigation__list navigation__list--inline">
      <li class="navigation__item"><a href="/index" data_test_automation_id="header_home_button"
          class="is-active">Home</a></li>
      <li class="navigation__item"><a href="/about" data_test_automation_id="header_about_button">About</a></li>
      <li class="navigation__item"><a href="/test-pages-home" data_test_automation_id="header_test_pages_button">Test
          Pages</a></li>
      <li class="navigation__item"><a href="/otto-tool" data_test_automation_id="header_otto_link_button">oTTo Tool</a>
      </li>
      <li class="navigation__item"><a href="/lessons" data_test_automation_id="lessons_link_button">Lessons</a>
      </li>
    </ul>
  </nav>

</div>