<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>oTTo Test Site</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
</head>

<body>

    <div class="container">
        <fieldset>
            <div data_test_automation_id="waiting-placeholder"
                    <p>Nothing to see here, just move along</p>
                    </div>

        </fieldset>
    </div>


</body>

</html>