<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Wall.E Image</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
</head>

<body>
  <header class="header sticky sticky--top js-header">
    <%- include("../../../partials/header-test-pages") %>
  </header>


  <main>

    <div data_test_automation_id="walle_heading">
      <h1>Woah!</h1>
    </div>

    <div class="landing-img-container">
      <br>
      <a href="/home">
        <img class="centre" src="/assets/walle.png" alt="Wall.E img" width="700" height="700"
          data_test_automation_id="walle_img" Title="Click to return to test pages home">
    </div>
    </a>


  </main>

  <footer>
    <%- include("../../../partials/footer") %>
  </footer>
</body>

</html>