<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>oTTo Test Site - Test Pages Home</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
</head>

<body>
  <header class="header sticky sticky--top js-header">
    <%- include("../../partials/header-test-pages") %>
  </header>

  <main>

    <div class="container">
      <div data_test_automation_id="welcome_test_home_text">
        <h1>Welcome to the test pages home area</h1>
      </div>

      <div class="body-wide" data_test_automation_id="test-pages_what_is_this_text" <p>
        <br>
        This is where many of the elements and scenarios are that you will use to test against.
        <br>
        <br>
        Some of the elements may require you to click through to other ares or have designated pages of their own but
        this is the starting point for most of the testing that you may want to do to start with.
        </p>
      </div>
    </div>

    <div class="container" data_test_automation_id="contents">
      <fieldset>
        <p>Contents</p>
        <ui>
          <li><a href="#button_click" data_test_automation_id="content_link_btn_click">Button Click</a></li>
          <li><a href="#text_entry_fields" data_test_automation_id="content_link_text_entry">Text Entry Fields</a></li>
          <li><a href="#dropdown_menus" data_test_automation_id="content_link_dropdown_menu">Dropdown Menus</a></li>
          <li><a href="#duplicated_ids" data_test_automation_id="content_link_duplicated_id">Duplicated Test IDs</a></li>
        </ui>
      </fieldset>
    </div>


    <div class="container">
      <fieldset>
        <div class="anchor" data_test_automation_id="button_click_information_heading">
          <h1 id="button_click">Button click</h1>
        </div>
        <div class="body-wide" data_test_automation_id="button_click_info" <p>
          This button will allow you to test click methods
          </p>
        </div>
        <form action="/success-button-click">
          <input data_test_automation_id="generic-button" type="submit" class="ghost-button" value="Test button click"
            href="/success-button-click" title="Verify a button click by clicking this button">
        </form>
      </fieldset>
    </div>

    <div class="container">
      <fieldset>
        <div class="anchor" data_test_automation_id="text_entry_information_heading">
          <h1 id="text_entry_fields">Text Entry Field</h1>
        </div>
        <div class="body-wide" data_test_automation_id="text_entry_info" <p>
          This page will allow you to test text entry methods
          </p>
        </div>
        <form action="/text-entry-field">
          <input data_test_automation_id="enter-text-entry-field-button" type="submit" class="ghost-button"
            value="Test text entry fields" href="/text-entry-field"
            title="Verify text entry field behaviour by clicking this button">
        </form>
      </fieldset>
    </div>

    <div class="container">
      <fieldset>
        <div class="anchor" data_test_automation_id="dropdown_menu_information_heading">
          <h1 id="dropdown_menus">Dropdown Menu</h1>
        </div>
        <div class="body-wide" data_test_automation_id="dropdown_info" <p>
          This page will allow you to test dropdown checking methods
          </p>
        </div>
        <form action="/dropdown-menu">
          <input data_test_automation_id="enter-dropdown-menu-button" type="submit" class="ghost-button"
            value="Test dropdown menus" href="/dropdown-menu"
            title="Verify dropdown menu behaviour by clicking this button">
        </form>
      </fieldset>
    </div>

    <div class="container">
      <fieldset>
        <div class="anchor" data_test_automation_id="duplicate_id_information_heading">
          <h1 id="duplicated_ids">Duplicated 'test_id'</h1>
        </div>
        <div class="body-wide" data_test_automation_id="duplicate_id_info" <p>
          This page will allow you to test elements that have duplicated test IDs
          </p>
        </div>
        <form action="/duplicate-id">
          <input data_test_automation_id="enter-duplicate-id-menu-button" type="submit" class="ghost-button"
            value="Test duplicated test IDs" href="/duplicate-id"
            title="Verify testing duplicated test IDs by clicking this button">
        </form>
      </fieldset>
    </div>

  </main>

  <footer>
    <%- include("../../partials/footer") %>
  </footer>
</body>

</html>