<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Testing No Test Automation IDs</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
</head>

<body>
    <header class="header sticky sticky--top js-header">
        <%- include("../../partials/header-test-pages") %>
    </header>

    <main>


        <div class="container">
            <div data_test_automation_id="no_test_id_heading">
                <h2>No Test Automation IDs</h2>
            </div>

            <div class="body-wide" data_test_automation_id="about_duplicate_test_id_text" <p>
                Each element in the two banks below have no dedicated 'data_test_automation_id' values. Try to capture
                the text for the forth element in each bank
                <br><br>
                There are also 3 buttons that will link out to images. Try to click on the Image of Judge Dredd button
                </p>
            </div>
        </div>

        <div class="container" data_test_automation_id="bank_1">
            <ul data_test_automation_id="bank_1_fieldset">
                <li>This is list element 1 in bank 1
                </li>
                <li>This is list element 2 in bank 1
                </li>
                <li>This is list element 3 in bank 1
                </li>
                <li>This is list element 4 in bank 1
                </li>
                <li>This is list element 5 in bank 1
                </li>
            </ul>
        </div>

        <div class="container" data_test_automation_id="bank_2">
            <fieldset data_test_automation_id="bank_2_fieldset">
                <div>This is element 1 in bank 2
                </div>
                <div>This is element 2 in bank 2
                </div>
                <div>This is element 3 in bank 2
                </div>
                <div>This is element 4 in bank 2
                </div>
                <div>This is element 5 in bank 2
                </div>
            </fieldset>
        </div>

        <div class="container">
            <p> Links to images</p>
            <br><br>
            <form action="/totoro">
                <input type="submit" class="ghost-button" value="Image of Totoro" href="/totoro"
                    title="Image of Totoro">
                <br><br>
            </form>
            <form action="/ariel">
                <input type="submit" class="ghost-button" value="Image of Ariel" href="/ariel" title="Image of Ariel">
                <br><br>
            </form>
            <form action="/dredd">
                <input type="submit" class="ghost-button" value="Image of Judge Dredd" href="/dredd"
                    title="Image of Judge Dredd">
                <br><br>
            </form>
        </div>

    </main>

    <footer>
        <%- include("../../partials/footer") %>
    </footer>
</body>

</html>