<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Video Playback Full Asset Index</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <script src="./dist/shaka-player.compiled.debug.js"></script>
    <script src="./player/player.js"></script>
    <link rel="stylesheet" type="text/css" href="./dist/controls.css">
    <script src="./dist/shaka-player.ui.js"></script>

</head>

<body>

    <header class="header sticky sticky--top js-header">
        <%- include("../../partials/header-playback") %>
    </header>

    <main>

            <div data_test_automation_id="video_playback_heading">
                <h2>Video Playback Full Asset Index</h2>
            </div>

            <div class="body-wide" data_test_automation_id="video_playback_text" <p>
                <br>
                This page lists the details of all available video assets and where they can be found within the site
                </p>
            </div>


    </main>

    <footer>
        <%- include("../../partials/footer") %>
    </footer>
</body>

</html>