<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Video Playback - Widevine DRM Cookie Auth</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <script src="./dist/shaka-player.compiled.debug.js"></script>
    <script src="./player/drm_configs/player_wv_cookie_auth.js"></script>
    <link rel="stylesheet" type="text/css" href="./dist/controls.css">
    <script src="./dist/shaka-player.ui.js"></script>

</head>

<body>

    <header class="header sticky sticky--top js-header">
        <%- include("../../../../partials/header-playback") %>
    </header>

    <main>

        <div data_test_automation_id="video_playback_heading">
            <h2>Video Playback - Widevine DRM Cookie Auth</h2>
        </div>

        <div class="body-wide" data_test_automation_id="video_playback_text" <p>
            Below you will find 3 Widevine DRM encrypted video assets, with cookie authentication and served from
            different URLs, that you can load into the player. One of them has DRM key rotation.
            <br>
            <br>
            In order to load the video, simply click on the poster image.
            <br><br>
            In order to enable video playback you must set the cookie correctly in the player settings below . This will
            open a new tab and store the cookie as needed. You can also delete the cookie from the player settings.
            This will also open a new tab and delete the cookie that was stored.
            </p>
        </div>

        <div data-shaka-player-container id="video-container">
            <video autoplay data-shaka-player id="video-player" style="width:100%;height:100%"
                poster="./assets/crude_otto.png"></video>
        </div>
        <div id="error_code" style="display:none;"></div>
        <br><br>

        <fieldset>
            <div class="row">
                <div class="column-3">
                    <img src="./assets/tears-of-steel-poster.jpg" style="width: 152px" class="center"
                        onClick='loadPlayer("https://demo.unified-streaming.com/video/tears-of-steel/tears-of-steel-dash-widevine.ism/.mpd"); document.getElementById("error_code").style.display="none"'
                        data_test_automation_id="tears-of-steel-wv-button" value="Load Tears of Steel (DRM)"
                        title="Load Tears of Steel (DRM)">
                </div>
                <div class="column-3">
                    <img src="./assets/sintel-poster.jpg" style="width: 150px" class="center"
                        onClick='loadPlayer("https://storage.googleapis.com/shaka-demo-assets/sintel-widevine/dash.mpd"); document.getElementById("error_code").style.display="none"'
                        data_test_automation_id="sintel-wv-button" value="Load Sintel (DRM)" title="Load Sintel (DRM)">
                </div>
                <div class="column-3">
                    <img src="./assets/caminandes-llamigos-poster.jpg" style="width: 160px" class="center"
                        onClick='loadPlayer("https://smoula.net/data/wv-enc-test/llama-wv-rotation.mpd"); document.getElementById("error_code").style.display="none"'
                        data_test_automation_id="sintel-wv-button" value="Load Sintel (DRM)" title="Load Sintel (DRM)">
                </div>
            </div>
            </div>
        </fieldset>

        <div class="settings" data_test_automation_id="player_settings">
            Player Settings and Stats
            <fieldset>
                <%- include("../../../../partials/global-player-settings") %>
                    <div class="column-2" data_test_automation_id="page_specific_settings">
                        <form>
                            <br>
                        </form>
                        <br>
                        <form action="http://cwip-shaka-proxy.appspot.com/set_cookie" target="_blank"
                            data_test_automation_id="set_cookie_btn"> Set DRM Cookie
                            <button>
                                Set
                            </button>
                        </form>
                        <br>
                        <form action="http://cwip-shaka-proxy.appspot.com/delete_cookie" target="_blank"
                            data_test_automation_id="delete_cookie_btn">Delete DRM cookie
                            <button>
                                Delete
                            </button>
                        </form>
                    </div>
            </fieldset>
        </div>

        <br><br>

        <form action="/video-playback-drm-index">
            <input data_test_automation_id="playback-asset-drm-index-button" type="submit" class="ghost-button"
                value="DRM video asset index" href="/video-playback-drm-index">
        </form>

        <form action="/video-playback-index">
            <input data_test_automation_id="playback-asset-index-button" type="submit" class="ghost-button"
                value="Full video asset index" href="/video-playback-index">
        </form>

    </main>

    <footer>
        <%- include("../../../../partials/footer") %>
    </footer>
</body>

</html>