<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>About</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
</head>

<body>
  <header class="header sticky sticky--top js-header">
    <%- include("../partials/header-about") %>
  </header>

  <main>
    <div class="img-container">
      <br>
      <img src="/assets/crude_otto.png" alt="oTTo Logo" width="450" height="400" data_test_automation_id="otto_logo">
    </div>

    <div data_test_automation_id="main_heading">
      <h1>oTTo Test Site</h1>
    </div>

      <div data_test_automation_id="what_is_this_heading">
        <h2>What is this?</h2>

      <div class="body-wide" data_test_automation_id="about_what_is_this_text" <p>
        <br>
        This is an app designed to facilitate teaching of automated software testing.
        <br>
        <br>
        Originally born out of the oTTo testing tool, it was soon seen that in order to teach and help others, a site
        was needed that was both stable and consistent in content
        but also contained the needed things that you might come across in your automated testing journey (at least in
        some way).
        Coupled with the desire to learn new things whilst helping others, a project was started to learn web
        development
        and build a site that could help the oTTo tool.
        <br>
        <br>
        And here we are, the oTTo Test Site!
        <br>
        <br>
        Complete with buttons, text fields, dropdown, headers and many other things that you might need to find and code
        for in learning and using a test automation tool. This is not extensive but we feel that it will provide a good
        base with which to start your journey into automation on.
        <br>
        <br>
        This is not the best made app, nor is it going to solve the worlds problems but it fulfils a need. It will also
        be updated from time to time in alignment with the oTTo testing tool
        </p>
      </div>
    </div>

      <div data_test_automation_id="what_is_otto_heading">
        <h2>"You keep mentioning oTTo testing tool - what the what!?"
        </h2>
      </div>

      <div class="body-wide" data_test_automation_id="about_what_is_otto_text" <p>
        <br>
        oTTo testing tool (or just oTTo for short) is a testing tool/framework built using Ruby and Capybara. He is also
        the cheeky chap you see all over this site in the logo (yes, it is terrible, we spared some expense in logo
        creation as it doesn't really matter to us if it is rubbish, but actually, it has grown on us!)
        <br>
        <br>
        If you want to know more about it, have a look at the <a data_test_automation_id="otto_tool_link"
          href="/otto-tool">
          oTTo Tool</a> section of this site
        </p>
      </div>

      <div data_test_automation_id="how_do_i_use_this_heading">
        <h2>"How do I use this?"</h2>
      </div>

      <div class="body-wide" data_test_automation_id="about_how_do_i_use_this_text" <p>
        <br>
        If you are interested in building your own automation framework then the best way of using this is to check out
        the <a data_test_automation_id="otto_tool_link" href="/otto-tool"> oTTo Tool </a> and follow its documentation.
        <br>
        <br>
        If you are interested in using your own testing framework (or someone elses) then just get cracking in the <a
          data_test_automation_id="test_pages_link" href="/home"> test pages area </a>
        </p>

        <div data_test_automation_id="what_else_can_i_use_heading">
          <h2>"I hate Ruby and don't want to learn it! What else can I use?!"
          </h2>

        <div class="body-wide" data_test_automation_id="about_what_can_i_use_text" <p>
          <br>
          Well, that isn't too much of a problem, we do not force people to use anything specifically. Each tool has its
          own job it rules at so if you don't fancy learning about oTTo in his Ruby form, this site can be used with any
          automation tool (and there are plenty out there!)
          <br>
          <br>
          We are also in the process of making oTTo a few new friends so if Ruby doesn't do it for you there may well be
          other language frameworks coming along
          </p>
        </div>
      </div>

        <div data_test_automation_id="who_are_you_heading">
          <h2>"And who exactly are you?!"</h2>
        </div>

        <div class="body-wide" data_test_automation_id="about_who_are_you_text" <p>
          <br>
          oTTo tool and test site has been a labour of love including many people along the way. We couldn't mention
          them
          all but between them they have years of experience in the software development and testing fields, all with a
          drive to give back to the communities that have helped them and help people learn new skills
          <br>
          <br>
          You can find a bit more information about them from the oTTo test tool code pages if you want to know more
          </p>
        </div>

        <div data_test_automation_id="how_do_i_help_heading">
          <h2>"OK, sounds great, I want to help out!"</h2>
        </div>

        <div class="body-wide" data_test_automation_id="about_how_do_i_help_text" <p>
          <br>
          We love the idea of this being a super collaborative affair, we made this to give back after all!
          <br>
          If you are keen to help out in any way (want to help build, found a bug, want to find out about our roadmap
          etc)
          please do
          <a data_test_automation_id="contact_link" href="/contact">contact us! </a>
          </p>
        </div>
  </main>

  <footer>
    <%- include("../partials/footer") %>
  </footer>
</body>

</html>