<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Frequently Asked Questions</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
</head>

<body>

    <header class="header sticky sticky--top js-header">
        <%- include("../partials/header") %>
    </header>

    <main>

        <div class="container">
            <fieldset>
                <div data_test_automation_id="faq_heading"> As soon as we have some FAQs we will update them here but
                    until then, feel free to checkout the <a data_test_automation_id="about_link" href="/about">
                        About section </a> that might answer a few things!
                </div>
            </fieldset>
        </div>

    </main>

    <footer>
        <%- include("../partials/footer") %>
    </footer>
</body>

</html>