<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>oTTo Test Site</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
</head>

<body>
  <header class="header sticky sticky--top js-header">
    <%- include("../partials/header-home") %>
  </header>

  <main>
    <div class="img-container">
      <br>
      <img class="centre" src="/assets/crude_otto.png" alt="oTTo Logo" width="450" height="400"
        data_test_automation_id="otto_logo">
    </div>

    <div class="centre" data_test_automation_id="main_heading">
      <h1>Otto Test Site</h1>
    </div>

    <div class="container">
      <div class="body-wide" data_test_automation_id="extra_text" <p>
        <br>
        Welcome to the oTTo Testing Site.
        <br>
        <br>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pretium, lectus non commodo imperdiet, tortor ipsum
        aliquet diam, ac scelerisque felis quam eu velit. Integer non ipsum purus. Phasellus dapibus velit eu cursus
        pretium. Duis ex magna, lacinia eget dui ut, hendrerit aliquet ante. Nullam sodales felis non pretium fermentum.
        Donec rhoncus tristique sapien eu facilisis. Cras dignissim magna non purus fringilla consequat. Morbi gravida
        dignissim tortor, id vulputate ipsum placerat facilisis. Nulla gravida nunc congue augue fermentum porttitor.
        Suspendisse convallis fringilla nisi a congue. Donec iaculis porta lorem, quis consequat urna ultricies sit
        amet.
        Integer rutrum mauris ac orci dignissim, quis aliquam lorem posuere. Orci varius natoque penatibus et magnis dis
        parturient montes, nascetur ridiculus mus. Donec placerat lectus id diam vestibulum pharetra. Integer nibh
        tellus,
        mattis nec mi quis, venenatis volutpat risus.
        </p>
      </div>
    </div>

    <div class="container">
      <fieldset>
        <form action="/initial-test-page">
          <input data_test_automation_id="enter-button" type="submit" class="ghost-button" value="Enter testing area">
        </form>
      </fieldset>
    </div>
  </main>
</body>

</html>