<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>oTTo Test Site</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
</head>

<body>
  <header class="header sticky sticky--top js-header">
    <%- include("../partials/header-home") %>
  </header>

  <main>
    <div class="img-container">
      <br>
      <img src="/assets/crude_otto.png" alt="oTTo Logo" width="450" height="400"
        data_test_automation_id="otto_logo">
      <br>
      <br>
    </div>

    <div data_test_automation_id="main_heading">
      <h1>Welcome to the oTTo Testing Site</h1>
      <br>
      <br>
    </div>

    <div class="container">
      <fieldset>
        <form action="/about">
          <input data_test_automation_id="about-page-entry-button" type="submit" class="ghost-button"
            value="What is this?">
        </form>
        <br>
        <form action="/otto-tool">
          <input data_test_automation_id="otto-tool-area-entry-button" type="submit" class="ghost-button"
            value="oTTo Testing Tool">
        </form>
      </fieldset>
    </div>

    <div class="container">
      <fieldset>
        <form action="/test-pages-home">
          <input data_test_automation_id="testing-area-entry-button" type="submit" class="ghost-button"
            value="Enter testing area">
        </form>
      </fieldset>
    </div>

  </main>

  <footer>
    <%- include("../partials/footer") %>
  </footer>
</body>

</html>