<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Lessons Home</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
</head>

<body>
  <header class="header sticky sticky--top js-header">
    <%- include("../partials/header-lessons") %>
  </header>

  <main>
    <div data_test_automation_id="main_heading">
      <h1>oTTo Test Automation Lessons</h1>
    </div>

      <div class="body-wide" data_test_automation_id="lessons_placeholder_text" <p>
        <br>
        This is currently under construction but this is where you will be able to find and access step by step lesson guides to getting setup using oTTo testing tool and this website to start your journey into test automation.
        <br>
        <br>
        Check back in with us soon!
        </p>
      </div>
    </div>

  </main>

  <footer>
    <%- include("../partials/footer") %>
  </footer>
</body>

</html>