<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>oTTo Test Tool</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
</head>

<body>
  <header class="header sticky sticky--top js-header">
    <%- include("../partials/header-otto-tool") %>
  </header>

  <main>
    <div class="img-container">
      <br>
      <img src="/assets/crude_otto.png" alt="oTTo Logo" width="450" height="400" data_test_automation_id="otto_logo">
    </div>
    
    <div data_test_automation_id="main_heading">
      <h1>oTTo Test Tool</h1>
      <br>
      <br>
    </div>

    <div class="container">

      <div class="body-wide" data_test_automation_id="otto_tool_information_text" <p>
        <br>
        oTTo testing tool is a framework built to help teach people about test automation for software testing.
        <br>
        <br>
        The best way the get a handle on what it is is to read it's documentation and follow its lessons.
        <br>
        You can do this by following the link below to it's codebase or you can follow the lessons directly.
        </p>
        <form action="https://github.com/Alpenglow88/oTTo" target="_blank">
          <input data_test_automation_id="otto-code-link-button" type="submit" class="ghost-button"
            value="Check out the oTTo code on GitHub!">
        </form>
        <br>
        <br>
        <form action="/waiting" target="_blank">
          <input data_test_automation_id="otto-lessons-link-button" type="submit" class="ghost-button"
            value="oTTo Lessons">
        </form>
      </div>
    </div>

  </main>

  <footer>
    <%- include("../partials/footer") %>
  </footer>
</body>

</html>