<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>oTTo Playground</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
</head>

<body>
    <header class="header sticky sticky--top js-header">
        <%- include("../partials/header-playground") %>
    </header>

    <main>


        <div class="container">
            <div data_test_automation_id="duplicate_test_id_heading">
                <h2>Duplicate Test Automation IDs</h2>
            </div>

            <div class="body-wide" data_test_automation_id="about_duplicate_test_id_text" <p>
                <br>
                This is a page where some of the elements have duplicated 'data_test_automation_test_id' values
                </p>
            </div>
        </div>


        <div class="container" data_test_automation_id="bank_1">
            <fieldset>
                <div data_test_automation_id="duplicate_test_id_1">This is element 1 in bank 1
                </div>
                <div data_test_automation_id="duplicate_test_id_2">This is element 2 in bank 1
                </div>
                <div data_test_automation_id="duplicate_test_id_3">This is element 3 in bank 1
                </div>
                <div data_test_automation_id="duplicate_test_id_4">This is element 4 in bank 1
                </div>
                <div data_test_automation_id="duplicate_test_id_5">This is element 5 in bank 1
                </div>
            </fieldset>
        </div>

        <div class="container" data_test_automation_id="bank_2">
            <fieldset>
                <div data_test_automation_id="duplicate_test_id_6">This is element 1 in bank 2
                </div>
                <div data_test_automation_id="duplicate_test_id_7">This is element 2 in bank 2
                </div>
                <div data_test_automation_id="duplicate_test_id_8">This is element 3 in bank 2
                </div>
                <div data_test_automation_id="duplicate_test_id_8">This is element 4 in bank 2
                </div>
                <div data_test_automation_id="duplicate_test_id_5">This is element 5 in bank 2
                </div>
            </fieldset>
        </div>

    </main>

    <footer>
        <%- include("../partials/footer") %>
    </footer>
</body>

</html>