<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>oTTo Test Site</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
</head>

<body>
    <header class="header sticky sticky--top js-header">
        <%- include("../partials/header-playground") %>
    </header>

    <main>

        <div data_test_automation_id="main_heading">
            <h1>PLAYGROUND</h1>
            <br>
            <br>
        </div>

        <div class="landing-img-container">
            <br>
            <a href="/index">
                <img class="centre" src="/assets/crude_otto.png" alt="oTTo Logo" width="850" height="800"
                    data_test_automation_id="otto_logo" Title="Click to enter">
        </div>
        </a>
        
        <div data_test_automation_id="test_entry_field_information_text"
        <p>Below is a dropdown menu with 3 options. Each option will link to an image and text page
        </p>
      </div>

    </main>

    <footer>
        <%- include("../partials/footer") %>
    </footer>
</body>

</html>