<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>oTTo Test Site</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
</head>

<body>
    <header class="header sticky sticky--top js-header">
        <%- include("../partials/header") %>
    </header>

    <main>
        <div class="container">
            <fieldset>
                </form>
                <div data_test_automation_id="returned-text" <% if(city === null){ %> <p><%=  %></p>
                    <% } %>

                    <% if(city !== null){ %>
                    <p><%= returnText %></p>
                    <% } %>
                </div>
            </fieldset>
        </div>

    </main>
</body>

</html>