<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Video Playback - Under Construction</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <script src="./dist/shaka-player.compiled.js"></script>
    <script src="./player.js"></script>
    <link rel="stylesheet" type="text/css" href="./dist/controls.css">
    <script src="./dist/shaka-player.ui.js"></script>

</head>

<body>

    <header class="header sticky sticky--top js-header">
        <%- include("../partials/header-playback") %>
    </header>

    <main>


        <div class="container">
            <div data_test_automation_id="video_playback_heading">
                <h2>Video Playback</h2>
            </div>

            <div class="body-wide" data_test_automation_id="video_playback_text" <p>
                <br>
                On this page is a basic Shaka player implementation.
                <br>
                There are buttons below that will load a variety of
                different video options for different video testing scenarios, as well as player controls and options
                </p>
            </div>
        </div>

        <div class="container">
            <div data-shaka-player-container id="video-container">
                <video autoplay data-shaka-player id="video-player" style="width:100%;height:100%"
                    poster="./assets/crude_otto.png"></video>
            </div>
        </div>

        <div class="container">
            <fieldset>
                <h2>Assets</h2>
                <input
                    onClick='player.load("http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/Sintel.mp4")'
                    data_test_automation_id="sintel-mp4-button" type="submit" class="ghost-button"
                    value="Load Sintel (MP4-VoD)" title="Load Sintel MP4">
                <input
                    onClick='player.load("http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4")'
                    data_test_automation_id="big-buck-bunny-mp4-button" type="submit" class="ghost-button"
                    value="Load Big Buck Bunny (MP4-VoD)" title="Load Big Buck Bunny MP4">
                <br><br>
                <input
                    onClick='player.load("https://demo.unified-streaming.com/video/tears-of-steel/tears-of-steel.ism/.mpd")'
                    data_test_automation_id="tears-of-steel-dash-button" type="submit" class="ghost-button"
                    value="Load Tears of Steel (DASH-VoD)" title="Load Tears of Steel (DASH)">
                <input onClick='player.load("https://storage.googleapis.com/shaka-demo-assets/sintel/dash.mpd")'
                    data_test_automation_id="sintel-dash-button" type="submit" class="ghost-button"
                    value="Load Sintel (DASH-VoD)" title="Load Sintel (DASH)">
                <br><br>
                <input
                    onClick='player.load("https://multiplatform-f.akamaihd.net/i/multi/april11/sintel/sintel-hd_,512x288_450_b,640x360_700_b,768x432_1000_b,1024x576_1400_m,.mp4.csmil/master.m3u8")'
                    data_test_automation_id="sintel-hls-button" type="submit" class="ghost-button"
                    value="Load Sintel (HLS-VoD)" title="Load Sintel (HLS)">
                <input
                    onClick='player.load("http://demo.unified-streaming.com/video/tears-of-steel/tears-of-steel.ism/.m3u8")'
                    data_test_automation_id="tears-of-steel-hls-button" type="submit" class="ghost-button"
                    value="Load Tears of Steel (HLS-VoD)" title="Load Tears of Steel (HLS)">
                <br><br>
                <input onClick='player.load("https://moctobpltc-i.akamaihd.net/hls/live/571329/eight/playlist.m3u8")'
                    data_test_automation_id="live-hls-button" type="submit" class="ghost-button" value="Live (HLS)"
                    title="Load Live (HLS-Live)">
                <input onClick='player.load("https://live.unified-streaming.com/scte35/scte35.isml/.mpd")'
                    data_test_automation_id="live-dash-button" type="submit" class="ghost-button" value="Live (DASH)"
                    title="Load Live (DASH-Live)">
                <br><br>
                <input
                    onClick='player.load("https://demo.unified-streaming.com/video/tears-of-steel/tears-of-steel-multi-lang.ism/.m3u8")'
                    data_test_automation_id="multi-audio-lang-hls-button" type="submit" class="ghost-button"
                    value="Multi Audio Language (HSL-VoD)" title="Load Multi Language (HSL)">
                <input
                    onClick='player.load("https://demo.unified-streaming.com/video/tears-of-steel/tears-of-steel-multi-lang.ism/.mpd")'
                    data_test_automation_id="multi-audio-lang-dash-button" type="submit" class="ghost-button"
                    value="Multi Audio Language (DASH-VoD)" title="Load Multi Audio Language (DASH)">
                <br><br>
                <input
                    onClick='player.load("https://demo.unified-streaming.com/video/tears-of-steel/tears-of-steel-rfc5646.ism/.m3u8")'
                    data_test_automation_id="subs-captions-hls-button" type="submit" class="ghost-button"
                    value="Subtitles/captions (HLS-VoD)" title="Subs/Captions (HLS)">
                <input
                    onClick='player.load("https://demo.unified-streaming.com/video/tears-of-steel/tears-of-steel-rfc5646.ism/.mpd")'
                    data_test_automation_id="subs-captions-dash-button" type="submit" class="ghost-button"
                    value="Subtitles/captions (DASH-VoD)" title="Subs/Captions (DASH)">
            </fieldset>
        </div>


    </main>

    <footer>
        <%- include("../partials/footer") %>
    </footer>
</body>

</html>